
        

/*register form*/

/*register form*/





/*Footer Style*/




/*Footer Style*/

/*library student Style*/
#main_container{
    margin-top: 20px;
}

#col_dados{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(222, 253, 235);
}
#col_table{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(226, 243, 247);
}
 
 
 
 
 /*library student Style*/
 
 
 
     